body{
    background-color: rgb(204, 204, 204) !important;
    background-image: url("../img/fondo.png"), url("../img/fondo2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0;
}

/* #tarjeta{
    background-image: url("../img/fondo2.jpg") !important;
} */

@keyframes wave {
    0% { transform: translateX(0) translateY(0); }
    50% { transform: translateX(-25%) translateY(10%); }
    100% { transform: translateX(0) translateY(0); }
}
.wave-animation {
    animation: wave 15s ease-in-out infinite;
}