body {
    background-color: rgb(204, 204, 204) !important;
    background-image: url("../img/fondo.png"), url("../img/fondo2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0e0e0;
}

.custom-container {
    width: 99.5%;
}

header {
    background-color: white;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: #8fbc8f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #4f7942;
    border: none;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #f0e68c;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.btn-custom {
    background-color: #8fbc8f;
    color: #333;
}

.text {
    color: black !important;
}

.MiClase {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.imagen_modal {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto 1rem;
}